* {
    box-sizing: border-box;
}

html {
    font-family: system-ui;
    font-size: 16px;
}

body {
    background: linear-gradient(#8a2be1, #892ae1);
    margin: 0;
    padding: 0;
}

input, 
li {
    font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bold {
    font-weight: bold !important;
    font-size: 1.6rem !important;
}

#main {
    background: #f1f1f1;
    width: 50%;
    max-width: 600px;
    border-radius: 7px;
    margin: 5px auto 3px;
    height: 99vh;
    position: relative;
    min-height: 800px;
    display: block;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 50%);
}

#main-checkout {
    background: #f1f1f1;
    width: 50%;
    max-width: 600px;
    border-radius: 7px;
    margin: 5px auto;
    height: 99vh;
    position: relative;
    min-height: 730px;
    display: block;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 50%);
}


#header {
    background: #2e3576;
    width: 100%;
    padding: 3.2rem 2rem;
    border-radius: 7px 7px 70% 30%;
    overflow: visible;
}

.header-img {
    position: absolute;
    max-height: 170px;
    top: 5px;
    right: 14px;
    width: auto;
    display: block;
    transform: rotate3d(1, 1, 1, 7deg);
}

.header-img img {
    height: 170px;
    width: auto;
}

#header::after {
    content: "";
    width: 100%;
    height: 200px;
    background: #2e3576;
}

#header p {
    color: #fff;
    margin: 0;
    width: 55%;
    line-height: 1.3;
    font-size: 1.2rem;
    font-weight: 100;
}

#header p span{
    font-weight: 500;
}

div>form {
    padding: 0 2rem;
}

form h4 {
    font-size: 1.1rem;
    margin: 25px 0 15px;
}

.form-checkbox {
    list-style: none;
    padding: 0;
}

.checkbox-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin: 5px;
}

.checkbox-item img {
    display: inline-block;
    max-width: 30px;
    height: auto;
    margin-right: 5px;
}

.checkbox-item input {
    display: inline-block;
}

.qty-container {
    display: inline-flex;
    align-items: center;
}

.qty-add, .qty-decrease {
    background: #2e3576;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-self: stretch;
    cursor: pointer;
    align-items: center;
    border: none;
    outline: none;
}

#input-qty, #input-text {
    background: #dde3e8;
    border: 1px solid rgb(47 54 118 / 45%);
    border-radius: 7px;
    color: #616161;
    outline: none;
}

#input-qty {
    padding: 7px 5px;
    font-weight: 700;
    margin: 0px 2px;
    width: 50px;
    text-align: center;
}

#form-text {
    margin: 0 0 1.33rem;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#form-text h4 {
    text-align: left;
}

#input-text {
    width: 100% !important;
    padding: 5px;
    height: 20vh !important;
    cursor: text;
    font-size: 1rem;
    resize: none;
}

#footer-container {
    background: #dce3e8;
    width: 100%;
    position: absolute;
    border-radius: 0 0 7px 7px;
    padding: 2rem;
    bottom: 0;
    text-align: right;
}

#footer-container a, 
#footer-container-checkout a {
    background: #2e3576;
    border: none;
    outline: none;
    color: #fff;
    padding: 11px 34px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width:768px){

    #main {
        width: 93%;
        margin: 5px auto 2px;
        min-height: 900px;
    }

    #header {
        padding: 2.5rem 1rem;
    }

    #header p {
        line-height: 1.2;
        width: 100%;
    }

    .header-img {
        top: 25px;
        height: 0;
        right: 2px;
        transform: rotate3d(1, 1, 1, -13deg);
    }

    .header-img img {
        height: 110px;
        overflow: hidden;
    }

    div>form {
        padding: 0 1rem;
    }

    .form-container {
        margin: 15% 0 0 0;
    }

    form h4 {
        margin: 20% 0 15px;
    }
}